<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.navigation.drawer.activity"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!--
        	We will launch BaseActivity as launcher.
        	We will check if BaseActivity launch first time and open desired activity and set navigation item selected
        -->
        <activity
            android:name=".Activity.BaseActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.Main2Activity" />
        <activity android:name=".Activity.SearchActivity" />
        <activity android:name=".Activity.AllPharmaciesActivity" />
        <activity android:name=".Activity.AllMedecinsActivity" />
        <activity android:name=".Activity.AllCliniquesActivity" />
        <activity android:name=".Activity.AllGardesActivity" />
        <activity android:name=".Activity.PharmacieProfil" />
        <activity android:name=".Activity.Map_Activity" />
        <activity android:name=".Activity.MedecinsActivity" />
        <activity android:name=".Activity.MedecinProfil" />
        <activity android:name=".Activity.ResultActivity" />
        <activity android:name=".Activity.AdministratorActivity" />
        <activity android:name=".Activity.AdminProfil" />
        <activity android:name=".Activity.FavorisActivity" />

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".Activity.MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity android:name=".Activity.AddClinique" />
        <activity android:name=".Activity.CliniqueProfil" />
        <activity android:name=".Activity.ClientOrAdminActivity"></activity>
    </application>

</manifest>